@use '../../partials/mixins' as *;

.selection-btn{
    margin: 0.5rem;
    display: flex;
    justify-content: space-around;
    background-color: rgba(207, 197, 197, 0.5);

    &__all{
        @include selectButton;
        color: rgb(145, 99, 14);
    }
    &__asian{
        @include selectButton;
        color: #DB2E24;
    }
    &__western{
        @include selectButton;
        color: #315AA5;
    }
    &__vegan{
        @include selectButton;
        color:#94A531;
    }
}