@use '../../partials/global' as *;

.asian{
    background-image: url(../../assets/images/asian-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}