.hero{
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    &-slogan{
        font-size: 1rem;
        line-height: 2.5rem;
        &--large{
            font-size: 2rem;
        }
        &--small{
            padding-top: 1rem;
            font-size: 0.8rem;
            line-height: 1.3rem;
        }
    }
}