@use '../../partials/mixins' as *;

.hero{
    margin: 0 1rem 2rem 1rem;
    text-align: center;
    @include desktop{
        margin-top: 1.5rem;
    }
    &-slogan{
        font-size: 1rem;
        line-height: 2.5rem;
        @include desktop{
            font-size: 2rem;
            line-height: 5rem;
        }
        
        &--large{
            font-size: 2rem;
            @include desktop{
                font-size: 4.5rem;
            }
        }
        &--small{
            padding-top: 1rem;
            font-size: 0.8rem;
            line-height: 1.3rem;
            @include desktop{
                line-height: 2.5rem;
                font-size: 2rem;
            }
        }
        }
    }
    